* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f0f2f5;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background: #fafafa;
}